{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Catégorie : {{ category.name }}</h1>
        <div>
            <h2 class="mb-3">Programmes :</h2>
            {% if programs %}
                <div class="row">
                    {% for program in programs %}
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                {% if program.poster %}
                                    <img class="card-img-top" src="{{ asset(program.poster) }}" alt="Poster de {{ program.title }}">
                                {% else %}
                                    <!-- Image par défaut -->
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ program.title }}</h5>
                                    <p class="card-text">{{ program.synopsis }}</p>
                                    <a href="{{ path('program_show', {slug : program.slug}) }}" class="btn btn-primary">Voir la fiche</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-white-custom">Aucun programme trouvé.</p>
            {% endif %}
        </div>
        <a href="{{ path('program_index') }}" class="btn btn-primary">Retour à l'accueil des programmes</a>
    </div>
{% endblock %}
