{% extends 'base.html.twig' %}

{% block title %}Index Saisons{% endblock %}

{% block body %}
    <h1 class="mb-4">Index Saisons</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Série</th>
                <th>Numéro</th>
                <th>Description</th>
                <th>Année</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.program.title }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.description }}</td>
                <td>{{ season.year }}</td>
                <td>
                    <a href="{{ path('app_season_show', {'id': season.id}) }}" class="btn btn-sm btn-info">Voir la fiche</a>
                    <a href="{{ path('app_season_edit', {'id': season.id}) }}" class="btn btn-sm btn-secondary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_season_new') }}" class="btn btn-success mt-3">Créer une nouvelle saison</a>
    {% endblock %}