{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Toutes les séries :</h1>
        <div class="row">
            {% for program in programs %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        {% if program.poster %}
                            <img class="card-img-top" src="{{ asset(program.poster) }}" alt="Poster de {{ program.title }}">
                        {% else %}
                            <!-- Vous pouvez mettre une image par défaut ici ou laisser cette partie vide -->
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ program.title }}</h5>
                            <p class="card-text">{{ program.synopsis }}</p>
                            <a href="{{ path('program_show', { slug: program.slug }) }}" class="btn btn-primary">Voir la fiche</a>
                            <a href="{{ path('program_edit', { slug: program.slug }) }}" class="btn btn-primary">Editer</a>
                        </div>
                        <div class="card-footer">
                            Catégorie : {{ program.category.name }}
                            
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <p>Aucune série trouvée.</p>
                </div>
            {% endfor %}
        </div>

        <a href="{{ path('app_index') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}
