{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de {{ program.title }}{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="display-4">{{ program.title }} - Saison {{ season.number }}</h1>
        <p>{{ season.description }}</p>

        <h2 class="mt-4">Épisodes</h2>
        {% if season.episodes|length > 0 %}
            <div class="row">
                {% for episode in season.episodes %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Épisode {{ episode.number }}: 
                                <p>{{ episode.title }}</p></h5>
                                <p>Durée : {{ episode.duration }} minutes </p>
                                <p class="card-text">{{ episode.synopsis }}</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-secondary" href="{{ path('program_episode_show', {slug: program.slug, 'season': season.id, 'episode': episode.id}) }}">
                                    Voir l'épisode
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-muted">Aucun épisode pour cette saison.</p>
        {% endif %}

        <a class="btn btn-secondary mt-3" href="{{ path('program_show', {slug : program.slug}) }}">Retour au programme</a>
    </div>
{% endblock %}
