<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('build/images/icon-wild.png') }}" alt="Wild Series Logo" class="navbar-logo">
            WILD SERIES
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{ component('Navbar') }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="actorsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Acteurs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="actorsDropdown">
                        {% for actor in actors %}
                        <li>
                            <a class="dropdown-item" href="{{ path('app_actor_show', {'id': actor.id}) }}">
                                {{ actor.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ms-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profile') }}">Mon compte</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <button class="nav-link" {{ stimulus_action('theme', 'toggleDarkMode') }}>Toggle dark mode</button>
</nav>
